@mixin Container {
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: hidden;
}

@mixin Overlay {
    filter: brightness(.5);
    pointer-events: none;
    user-select: none;
}

@mixin Popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1.5rem;
    background-color: #fdfbf8;
    border-radius: 1rem;
    z-index: 10;
    padding: 2rem;
    max-width: 45rem;
    opacity: 0;
    top: -200%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 1000ms ease-in-out,
                transform 1000ms ease-in-out;
}