body {
  direction: rtl;
  font-family: "samim";
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow: hidden;
}

#overlay.active {
  filter: brightness(0.5);
  pointer-events: none;
  user-select: none;
}

.btn {
  padding: 0.5rem 1.3rem;
  border-radius: 1.2rem;
  background-color: transparent;
  outline: none;
  border: 0.125rem solid #100720;
  transition: background-color 0.2s, color 0.2s;
}
.btn:hover {
  cursor: pointer;
  background-color: #100720;
  color: #fff;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1.5rem;
  background-color: #fdfbf8;
  border-radius: 1rem;
  z-index: 10;
  padding: 2rem;
  max-width: 45rem;
  opacity: 0;
  top: -200%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}
.popup div {
  position: relative;
  top: 0.265rem;
  opacity: 0;
}
.popup .header-popup {
  position: relative;
  display: block;
}
.popup .body-popup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-top: 0.0625rem solid #888;
}
.popup .body-popup .text {
  line-height: 2rem;
  max-width: 20rem;
  min-width: 16rem;
}
.popup .body-popup .img .img-popup {
  max-width: 15rem;
}
.popup .close-btn {
  position: absolute;
  top: -1.3rem;
  right: -1.5rem;
}
.popup .close-btn .dismiss-btn {
  background-color: transparent;
  padding: 0.6rem 0.85rem;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: background-color 0.2s;
}
.popup .close-btn .dismiss-btn:hover {
  background-color: rgba(192, 192, 192, 0.878);
  cursor: pointer;
}

.popup.active, #popup-section.active {
  opacity: 1;
  top: 70rem;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.popup.active div {
  top: 0;
  opacity: 1;
}
.popup.active .body-popup {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .img {
  transition: all 300ms ease-in-out 300ms;
}

.landing-section {
  background-image: url(/assets/images/landing-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.landing-section .wrapper {
  background: rgba(16, 7, 32, 0.5882352941);
  height: 100vh;
}

.headline-section .text {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 85vh;
}
.headline-section .text-wrapper {
  color: rgb(239, 230, 230);
  text-shadow: 0 0 1rem #31087B;
}
.headline-section .text-wrapper h3 {
  font-size: 2.5rem;
  font-weight: bolder;
}
.headline-section .text-wrapper h3 span {
  font-weight: lighter;
}
.headline-section .text-wrapper h1 {
  font-size: 1.4rem;
  display: block;
}

.a {
  background-color: #28282b;
  box-shadow: 0.625rem 0 0.5rem -0.125rem #888;
}

.aboutme-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.aboutme-section .right-side {
  padding: 6rem 0;
}
.aboutme-section .right-side .tab-section {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 2rem;
  backdrop-filter: blur(0.3125rem) saturate(100%);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1.33rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.125);
  max-width: 32rem;
  text-align: justify;
  color: #28282b;
}
.aboutme-section .right-side .tab-section .title-section {
  line-height: 2.5rem;
}
.aboutme-section .right-side .tab-section .title-section h3 {
  font-size: 1.6rem;
  margin: 0.7rem 0;
}
.aboutme-section .right-side .tab-section .title-section h3 span {
  margin-right: 1.7rem;
}
.aboutme-section .right-side .tab-section .description-section {
  line-height: 1.9rem;
}
.aboutme-section .left-side .img-wrapper .aboutme-img {
  max-width: 38rem;
  display: block;
}

.b {
  background-color: #28282B;
  box-shadow: inset 0 0.625rem 1.5625rem -0.625rem #888;
}

.skill-section {
  padding: 6rem 0;
  color: #fdfbf8;
}
.skill-section .title-section {
  text-align: center;
  font-size: 1.5rem;
}
.skill-section .title-section h3 {
  margin-top: 0;
}
.skill-section .skills {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
}
.skill-section .skill-item {
  direction: ltr;
}
.skill-section .skill-item p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin: 0;
}
.skill-section .skills .right-side {
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  gap: 2rem;
}
.skill-section .skills .left-side {
  display: flex;
  justify-content: end;
  align-items: stretch;
  flex-direction: column;
  gap: 2rem;
}

.c {
  background-color: #28282b;
  box-shadow: inset 0 0.625rem 1.2rem -0.625rem #888;
}

.portfolio-section {
  padding: 6rem 0;
  color: #fdfbf8;
}
.portfolio-section .title-section {
  text-align: center;
  font-size: 1.5rem;
}
.portfolio-section .title-section h3 {
  margin-top: 0;
}
.portfolio-section__carousel {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.portfolio-section__card {
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  background-color: #cecccc;
  color: #28282b;
  padding: 1rem;
  max-width: 14rem;
}
.portfolio-section__cardimg {
  max-width: 13rem;
  height: 100%;
  border-radius: 0.55rem;
  transition: transform 200ms, filter 200ms, opacity 200ms;
  border: 0.07rem solid #28282b;
}
.portfolio-section__cardimg:hover {
  transform: scale(1.03);
  filter: brightness(0.5);
}
.portfolio-section__card:hover .portfolio-section__cardbtn {
  opacity: 1;
}
.portfolio-section__cardbtn {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: all 0.2s;
}
.portfolio-section__cardtitle {
  margin-top: 1rem;
}
.portfolio-section__carddescription {
  margin: 0;
  line-height: 1.5rem;
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.d {
  background-image: url(/assets/images/contact-img.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0.625rem 0 1rem -0.125rem #888;
  padding-bottom: 1rem;
}
.d .social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 2rem;
  color: #fdfbf8;
  gap: 2rem;
}
.d .social-networks .item {
  position: relative;
  cursor: pointer;
}
.d .social-networks .item .above {
  position: absolute;
  right: -1.8rem;
  top: -3.5rem;
  opacity: 0;
  transition: opacity 0.3s;
}
.d .social-networks .item .above .above-img {
  width: 5.5rem;
}
.d .social-networks .item:hover .above {
  opacity: 1;
}
.d .social-networks .item i {
  transition: color 0.2s;
}
.d .social-networks .item:hover .instagram {
  color: #E1306C;
}
.d .social-networks .item:hover .codepen {
  color: #404044;
}
.d .social-networks .item:hover .github {
  color: #404044;
}
.d .social-networks .item:hover .linkedin {
  color: #0A66C2;
}

.contact-section {
  padding: 6rem 0;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.contact-section .right-side p {
  font-size: 1.3rem;
}
.contact-section .left-side .btn {
  color: #fff;
  border-color: rgb(255, 194, 60);
}
.contact-section .left-side .btn:hover {
  color: #28282b;
  background-color: rgb(255, 194, 60);
}

/*# sourceMappingURL=main.css.map */
